body {
  font-family: arial;
  text-align: center;
  position: relative;
  top: 40px;
  background-color: gray;
}

header {
  font-size: 2em;
  font-weight: bold;
  margin: 30px;
}

header:hover {
  cursor: not-allowed;
}

section {
  display: block;
  margin: 10px;
}

section:hover {
  cursor: not-allowed;
}

ul:hover {
  cursor: not-allowed;
}

table, td {
  border: 2px solid black;
}

table {
  margin: 20px auto;
}

td {
  padding: 4px;
}

ul {
  list-style: none;
  margin: 30px auto;
  clear:
}

li {
  display: inline-block;
  margin: 0 10px;
  border-collapse: collapse;
}

h1 li {
  color: lightgreen;
  display: block;;
  margin: 10px;
}

ul li {
  font-size: 24px;
  text-shadow: 2px 2px 2px black;
}

.odd {
  color: yellow;
}

li img {
  border: 10px solid black;
}

li img:hover {
  border: 10px solid green;
  transition: 0.35s;
  cursor: pointer;
}

li img:click {
  border: 10px solid green;
}

button {
  font-size: 100px;
  color: green;
  height: 200px;
  width: 600px;
  transition: 0.35s;
}

button:hover {
  cursor: pointer;
  color: yellow;
  border: 10px solid blue;
}
